.modal-dialog {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) !important;
}

.modal-content {
  width: 646px;
  height: 570px;
}

.modal-body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

form {
  margin-top: 60px;
}

.form-control {
  margin-bottom: 30px;
}

.modal-header {
  justify-content: flex-end;
  border: none;

  .close {
    border: none;
    background-color: white;
  }

  .sr-only {
    display: none;
  }
}

.add-user--btn-submit {
  background-color: #44a0d3;
  border: none;
  border-radius: 50px;
  width: 142px;
  height: 41px;
}
