.header--container {
  background: white;
  height: 211px;
  box-shadow: 0px 3px 6px #00000029;

  .container {
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;

    .row {
      width: 100%;
    }

    .col-12 {
      display: flex;
      justify-content: space-between;
      height: 48px;
    }
  }

  input {
    width: 356.5px;
    border: initial;
    border-bottom: 2px solid #707070;

    &:focus-visible {
      border: initial;
      border-bottom: 2px solid #707070;
    }
  }
}

.header--btn-add-user {
  position: absolute;
  border-radius: 200px;
  background-color: #305eca;
  bottom: -36px;
  left: -80px;
  height: 72px;
  width: 72px;

  &:hover {
    background-color: #305eca;
    outline: none;
  }
}
