* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

input {
  border: none;
  border-bottom: 2px solid #707070;

  &:focus {
    outline: none;
  }
}

select {
  border: none;
  border-bottom: 2px solid #707070;

  &:focus {
    outline: none;
  }
}

.form-control {
  border: none;
}

button:focus,
button:active {
  outline: none;
  box-shadow: none;
}

button:hover {
  background-color: inherit;
}
